@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
button{
    border: none;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.Nav{
    background: #F3EDF7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Nav .container{
    margin: 0;
}
.title{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #1C1B1F;
}
.head-languages{
    min-width: 60px;
    height: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.head-lang{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1C1B1F;
    cursor: pointer;
    transition: 0.5s;
}
.head-lang img{
    width: 35px;
    height: 15px;
}
.head-lang.active{
    opacity: 0;
    top: -100%;
}
.btn{
    border-radius: 16px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #49454F;
    font-size: 14px;
    font-weight: 500;
    padding: 18px;
    transition: .3s;
    cursor: pointer;
}
.btn svg{
    font-size: 26px;
}
.btn span{
    text-transform: uppercase;
    margin-left: 12px;
}
.btn-primary{
    color: #6750A4;
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
.btn-primary svg{
    font-size: 20px;
}
.btn-secondary{
    color: #6750A4;
}
.btn-secondary:hover{
    background: #E6DDFF;
}
.btn-secondary svg{
    font-size: 18px;
}
.btn-danger{
    color: #CF1B1B;
}
.btn-danger:hover{
    background: #FFE1E1;
}
.btn-danger svg{
    font-size: 18px;
}
.Nav.search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: .3s;
    box-shadow: 0 0 0;
}
.search.active{
    transform: translateY(0%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.input{
    border: none;
    outline: none;
    background: transparent;
    font-weight: 400;
    font-size: 20px;
    color: #49454F;
    height: 25px;
    width: 100%;
}
.input::placeholder{
    color: #9d9d9d;
}
.allnotes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.notes{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 22px;
}
.notes.active{
    grid-template-columns: repeat(3, 1fr);
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}
.note__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
}
.note__title{
    color: #1C1B1F;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.note__time, .note__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #CAC4D0;
}
.note__text{
    color: #49454F;
    margin-bottom: 16px;
}
.note__btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
}
.add__btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.addNote{
    position: fixed;
    background: rgba(0, 0, 0, 0.35);
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    transform: scale(0.7);
}
.addNote .card{
    width: 312px;
}
.addNote.active{
    top: 0;
    z-index: 1;
    opacity: 1;
    transform: scale(1);
}
.add__label{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    background: #E7E0EC;
    border-radius: 4px 4px 0px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6750A4;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border-bottom: 1px solid #1C1B1F;
    margin: 16px 0;
}
.add__input{
    border: none;
    outline: none;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #49454F;
    align-items: center;
}
.add__input::placeholder{
    text-transform: capitalize;
}
@media (max-width:1150px) {
    .notes.active{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .notes.active{
        grid-template-columns: 1fr;
    }
    .btn{
        padding: 10px;
    }
}